adal==1.2.7
anyio==3.4.0
appdirs==1.4.4
argon2-cffi==21.1.0
asgiref==3.5.2
async-generator==1.10
atomicwrites==1.4.0
attrs==21.2.0
azure-core==1.25.1
azure-identity==1.11.0
Babel==2.9.1
backcall==0.2.0
backports.zoneinfo==0.2.1
BareNecessities==0.2.8
base36==0.1.1
beautifulsoup4==4.10.0
black==21.7b0
bleach==4.1.0
bs4==0.0.1
cached-property==1.5.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
ci-info==0.2.0
click==8.0.3
colorama==0.4.4
configobj==5.0.6
configparser==5.2.0
cryptography==36.0.0
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
Django==4.0.1
django-admin-interface==0.18.4
django-admin-sortable2==1.0.4
django-colorfield==0.7.2
django-crispy-forms==1.13.0
django-flat-responsive==2.0
django-flat-theme==1.1.4
dnspython==2.1.0
docopt==0.6.2
docx2txt==0.8
entrypoints==0.3
et-xmlfile==1.1.0
etelemetry==0.2.2
exchangelib==4.6.1
filelock==3.4.2
fitz==0.0.1.dev2
Flask==2.0.2
Flask-Cors==3.0.10
fonttools==4.29.1
fsspec==2022.3.0
future==0.18.2
h11==0.12.0
httplib2==0.20.2
idna==3.3
importlib-resources==5.4.0
iniconfig==1.1.1
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
isodate==0.6.0
isort==5.9.3
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
json2html==1.3.0
json5==0.9.6
jsonschema==4.2.1
jupyter-client==7.1.0
jupyter-core==4.9.1
jupyter-server==1.12.1
jupyterlab==3.2.4
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
kiwisolver==1.3.2
lxml==4.6.4
Mail==2.1.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
model-bakery==1.3.2
msal==1.19.0
msal-extensions==1.0.0
msgraph-core==0.2.2
mypy-extensions==0.4.3
nbclassic==0.3.4
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.6.3
nibabel==3.2.1
nipype==1.7.0
nltk==3.6.5
notebook==6.4.6
ntlm-auth==1.5.0
num2words==0.5.10
numpy==1.21.4
O365==2.0.20
oauthlib==3.1.1
openpyxl==3.0.9
outcome==1.1.0
packaging==21.3
pandas==1.3.4
pandocfilters==1.5.0
parso==0.8.3
pathlib==1.0.1
pathspec==0.9.0
pickleshare==0.7.5
Pillow==9.0.0
pipreqs==0.4.11
platformdirs==2.4.0
pluggy==1.0.0
portalocker==2.5.1
prometheus-client==0.12.0
prompt-toolkit==3.0.23
prov==2.0.0
psutil==5.8.0
psycopg2==2.9.2
psycopg2-binary==2.9.3
py==1.11.0
py4j==0.10.9.3
pycparser==2.21
pycryptodome==3.9.7
pydot==1.4.2
Pygments==2.10.0
PyJWT==2.5.0
PyMuPDF==1.19.4
pyodbc==4.0.32
pyOpenSSL==21.0.0
pyparsing==3.0.6
PyPDF4==1.27.0
pyrsistent==0.18.0
PySocks==1.7.1
pyspellchecker==0.7.1
pytest==7.1.1
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==302
pywinpty==1.1.6
pyxnat==1.4
pyzmq==22.3.0
rdflib==6.1.1
regex==2021.11.10
reportlab==3.5.68
requests==2.26.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
schedule==1.1.0
scikit-learn==1.0.1
scipy==1.7.3
selenium==4.1.0
Send2Trash==1.8.0
sentry-sdk==1.17.0
simplejson==3.17.6
six==1.16.0
sklearn==0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
sqlparse==0.4.2
stringcase==1.2.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.0.0
tomli==1.2.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
traits==6.3.2
trio==0.19.0
trio-websocket==0.9.2
ttictoc==0.5.6
types-cryptography==3.3.23
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.14
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.1.1
wsproto==1.0.0
xmltodict==0.12.0
yarg==0.1.9
zipp==3.6.0
